src/redbase
src/dbdestroy
src/dbcreate
src/testdb
src/test
src/test2
src/test.out
src/pf_test*
src/rm_testTA*
src/ix_testkpg_2*
src/rm_test
src/ix_test
src/parser_test
src/parse.c
src/scan.c
src/y.tab.h
src/gtest
src/TAGS
src/submit*
src/qlfile
src/gtestfile
build/
lib/
src/contest
nested_scratch
